@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header .left {
  width: 20px;
  height: auto;
  background: none;
  text-align: center;
  line-height: 4rem;
}
.wrapper header .left img {
  width: 10px;
  height: auto;
  background: none;
}
.wrapper header .right {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 4rem;
  font-size: 14px;
}
.wrapper section {
  -webkit-box-flex: 1;
}
.wrapper section .careful {
  margin-top: 15rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
.wrapper section .careful input {
  outline: none;
}
.wrapper section .sign {
  padding: 0 1rem;
  box-sizing: border-box;
  margin-top: 2rem;
}
.wrapper section .sign button {
  width: 100%;
  height: auto;
  background: #ff7f1d;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  color: #fff;
}
.shade {
  width: 100%;
  height: 100%;
  background: #919191;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.shade_center {
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%) translateY(-50%);
  display: none;
}
.shade_center p {
  padding: 1rem 0.8rem;
  border-bottom: 1px solid #666666;
}
.shade_center span {
  display: inline-block;
  padding: 0.5rem 0;
  box-sizing: border-box;
  color: #1583fe;
}
