@import url("reset.css");
html {
  font-size: 62.5%;
}
.whole {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.whole header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 40px;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
}
.whole header h1 {
  -webkit-box-flex: 1;
  line-height: 40px;
  text-align: center;
}
.whole header .h_left {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid #000;
  border-right: none;
  border-top: none;
}
.whole header .con {
  width: 25px;
  height: auto;
  background: none;
}
.whole header .h_right img {
  width: 1.6rem;
  height: auto;
  background: none;
  margin-bottom: -15px;
  padding-right: 10px;
}
.whole section {
  overflow-y: auto;
  -webkit-box-flex: 1;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
.whole section::-webkit-scrollbar {
  width: 0;
}
.whole section .read {
  width: 100%;
  height: auto;
  background: #f2f2f2;
  padding: 5px;
  padding-left: 8px;
  box-sizing: border-box;
}
.whole section .read span {
  color: #ff7f1c;
}
.whole section .works {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.whole section .works h6 {
  float: left;
  margin-right: 5px;
}
.whole section .works input {
  float: left;
  border: none;
  outline: none;
}
.whole section .photo {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.whole section .photo ul {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.whole section .photo ul li {
  -webkit-box-flex: 1;
}
.whole section .photo ul li img {
  width: 100%;
  height: auto;
  background: none;
}
.whole section .photo ul .ll {
  margin-top: 4px;
}
.whole section .man {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 10px;
  box-sizing: border-box;
}
.whole section .man h5 img {
  width: 1.4rem;
  height: auto;
  background: none;
  margin-right: 10px;
  margin-bottom: -3px;
}
.whole section .man input {
  border: none;
  outline: none;
}
.whole footer {
  width: 100%;
  height: 50px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 50px;
}
.whole footer p {
  -webkit-box-flex: 1;
  margin-left: 8px;
}
.whole footer .r {
  width: 100px;
  height: 50px;
  background: #ff7d1b;
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
}
