@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 4rem;
}
.wrapper header .left {
  width: 2rem;
  height: auto;
  background: none;
  text-align: center;
}
.wrapper header .left img {
  width: 1rem;
  height: auto;
  background: none;
}
.wrapper header .center {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 14px;
}
.wrapper header .right {
  margin-right: 1rem;
}
.wrapper header .right img {
  width: 1.6rem;
  height: auto;
  background: none;
}
.wrapper header .right .img1 {
  margin-right: 1rem;
}
.wrapper section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow-y: auto;
}
.wrapper section::-webkit-scrollbar {
  width: 0;
}
.wrapper section .banner {
  position: relative;
}
.wrapper section .banner .img1 {
  width: 100%;
  height: auto;
  background: none;
}
.wrapper section .banner .small {
  position: absolute;
  left: 1rem;
  bottom: -2.4rem;
}
.wrapper section .banner .small dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrapper section .banner .small dl dt {
  margin-right: 0.8rem;
}
.wrapper section .banner .small dl dt img {
  width: 4rem;
  height: auto;
  background: none;
}
.wrapper section .banner .small dl dd i {
  display: inline-block;
  color: #fff;
  margin-bottom: 0.5rem;
}
.wrapper section .banner .small dl dd .img3 {
  width: 1.2rem;
  height: auto;
  background: none;
}
.wrapper section .banner .small dl dd b {
  color: #b6b6b6;
}
.wrapper section .banner .img2 {
  position: absolute;
  bottom: 1rem;
  right: 10px;
  width: 5rem;
  height: auto;
  background: none;
}
.wrapper section .disign {
  padding: 0 1rem;
  box-sizing: border-box;
  margin-top: 3rem;
  color: #999999;
}
.wrapper section .datum {
  padding: 0 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
  width: 100%;
  height: auto;
  background: #ffffff;
}
.wrapper section .datum h1 {
  font-size: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}
.wrapper section .datum .location {
  border-bottom: 1px solid #F2F2F2;
  line-height: 2.8rem;
}
.wrapper section .datum .location p {
  float: left;
}
.wrapper section .datum .location p img {
  width: 1rem;
  height: auto;
  background: none;
  margin-right: 1.5rem;
}
.wrapper section .datum .location h2 {
  float: right;
}
.wrapper section .production {
  margin-top: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  background: #fff;
}
.wrapper section .production .pro_top {
  line-height: 3rem;
}
.wrapper section .production .pro_top h1 {
  float: left;
  font-size: 16px;
}
.wrapper section .production .pro_top span {
  float: right;
}
.wrapper section .production .pro_top span img {
  width: 8px;
  height: auto;
  background: none;
  margin-left: 5px;
}
.wrapper section .production .pro_bottom {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrapper section .production .pro_bottom div {
  -webkit-box-flex: 1;
}
.wrapper section .production .pro_bottom div img {
  width: 100%;
  height: auto;
  background: none;
}
.shade {
  width: 100%;
  height: 100%;
  background: #4c4c4c;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.shade_bottom {
  position: absolute;
  bottom: 10px;
  left: 0px;
  padding: 0rem 1rem;
  box-sizing: border-box;
  display: none;
}
.shade_bottom .WeChat {
  border-radius: 10px;
  width: 100%;
  height: auto;
  background: #ffffff;
  padding-bottom: 1rem;
  box-sizing: border-box;
  clear: both;
}
.shade_bottom .WeChat dl {
  float: left;
  padding: 2.5rem 1rem 0rem 1.4rem;
  box-sizing: border-box;
}
.shade_bottom .WeChat dl dt {
  height: 4rem;
}
.shade_bottom .WeChat dl dt img {
  width: 3.5rem;
  height: auto;
  background: none;
}
.shade_bottom button {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 1rem 0;
  box-sizing: border-box;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 15px;
}
