@import url("reset.css");
html {
  font-size: 62.5%;
}
.whole {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.whole header {
  width: 100%;
  height: 40px;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
}
.whole header h1 {
  text-align: center;
  line-height: 40px;
}
.whole header span {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid silver;
  border-right: none;
  border-top: none;
}
.whole section {
  -webkit-box-flex: 1;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
.whole section .about {
  margin-bottom: 7px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #F2F2F2;
  color: #000;
}
.whole section .about span {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid silver;
  border-left: none;
  border-bottom: none;
}
.whole section .view {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #F2F2F2;
  color: #000;
}
.whole section .view span {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid silver;
  border-left: none;
  border-bottom: none;
}
.whole section .concat {
  margin-bottom: 7px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #F2F2F2;
  color: #000;
}
.whole section .concat span {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid silver;
  border-left: none;
  border-bottom: none;
}
.whole section .switch {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #F2F2F2;
  color: #000;
}
.whole section .switch span {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid silver;
  border-left: none;
  border-bottom: none;
}
.whole section .reset {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #F2F2F2;
  color: #000;
}
.whole section .reset span {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid silver;
  border-left: none;
  border-bottom: none;
}
.whole section .quit {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #F2F2F2;
  color: #000;
}
.whole section .quit span {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid silver;
  border-left: none;
  border-bottom: none;
}
