@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrapper header {
  width: 100%;
  height: 4rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #bfbfbf;
}
.wrapper header .left {
  width: 2rem;
  height: auto;
  background: none;
  text-align: center;
  line-height: 4rem;
}
.wrapper header .left img {
  width: 1rem;
  height: auto;
  background: none;
}
.wrapper header .center {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 14px;
}
.wrapper header .center span {
  display: inline-block;
  width: 8rem;
  height: 2rem;
  background: #ff7f1d;
  color: red;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  margin-top: -2.1rem;
}
.wrapper header .center b {
  display: inline-block;
  width: 8rem;
  height: 2rem;
  background: none;
  color: #ff7f1d;
  border: 1px solid #ff7f1d;
  border-radius: 0px 10px 10px 0px;
  margin-top: 1.3rem;
}
.wrapper header .right {
  width: 2.5rem;
  height: auto;
  background: none;
  text-align: center;
  line-height: 4rem;
}
.wrapper header .right img {
  width: 1.5rem;
  height: auto;
  background: none;
}
.wrapper section {
  -webkit-box-flex: 1;
  overflow-y: auto;
}
.wrapper section::-webkit-scrollbar {
  width: 0;
}
.wrapper section .navs {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrapper section .navs ul {
  padding-top: 0.3rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}
.wrapper section .navs ul li {
  -webkit-box-flex: 1;
  text-align: center;
}
.wrapper section .navs .nav_right {
  width: 2rem;
  height: 1rem;
  background: none;
  text-align: center;
  line-height: 4rem;
}
.wrapper section .navs .nav_right span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: none;
  border: 1px solid gray;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
}
.wrapper section .serial {
  margin-top: 0.6rem;
}
.wrapper section .serial .goods {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  width: 1005;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #f7f7f7;
}
.wrapper section .serial .goods .p1 {
  float: left;
}
.wrapper section .serial .goods h3 {
  float: right;
  color: #ff7f1d;
}
.wrapper section .serial h2 {
  color: #666666;
  line-height: 2.5rem;
  padding-left: 1rem;
  background: #fff;
}
.wrapper footer {
  width: 100%;
  height: 4.5rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-top: 1px solid #f2f2f2;
}
.wrapper footer dl {
  -webkit-box-flex: 1;
  text-align: center;
  padding-top: 0.2rem;
}
.wrapper footer dl dt img {
  width: auto;
  height: 2rem;
  background: none;
}
.wrapper footer dl:nth-child(3) img {
  width: 4rem;
  height: auto;
  background: none;
}
.wrapper footer dl dd {
  padding-top: 0.5rem;
}
