@import url("reset.css");
html {
  font-size: 62.5%;
}
.whole {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.whole header {
  position: relative;
  width: 100%;
  height: 40px;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
}
.whole header h1 {
  text-align: center;
  line-height: 40px;
}
.whole header span {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 14px;
  transform: rotate(45deg);
  border: 2px solid silver;
  border-right: none;
  border-top: none;
}
.whole section {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  -webkit-box-flex: 1;
}
.whole section .password {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  color: #C0C0C0;
}
.whole section .password input {
  border: none;
  outline: none;
}
.whole section .validate {
  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  color: #C0C0C0;
}
.whole section .validate input {
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  outline: none;
  float: left;
}
.whole section .validate span {
  display: inline-block;
  line-height: 3.5rem;
  width: 80px;
  height: 3.4rem;
  background: #ffffff;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  float: right;
}
.whole section .submit {
  padding: 25px 15px 5px 15px;
}
.whole section .submit p {
  width: 100%;
  height: 40px;
  background: #ff7d1b;
  border-radius: 5px;
}
.whole section .submit p span {
  width: 100%;
  height: 40px;
  background: none;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
}
