@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.whole {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.whole header {
  width: 100%;
  height: 40px;
  background: #f7f7f7;
  border-bottom: 1px solid silver;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.whole header h1 {
  text-align: center;
  line-height: 40px;
  -webkit-box-flex: 1;
}
.whole header div {
  width: 40px;
  height: 40px;
  background: none;
}
.whole header div p {
  line-height: 40px;
}
.whole header .left {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  border: 2px solid #000000;
  transform: rotate(45deg);
  border-top: none;
  border-right: none;
  margin-left: 18px;
  margin-top: 13px;
}
.whole header .right img {
  width: 1.7rem;
  height: auto;
  background: none;
  margin-top: 10px;
}
.whole section {
  overflow-y: auto;
  -webkit-box-flex: 1;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}
.whole section::-webkit-scrollbar {
  width: 0;
}
.whole section p {
  padding: 10px;
}
.whole section .conter {
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
}
.whole section .conter div {
  width: 100%;
  min-height: 200px;
  border: 1px solid silver;
  background: #fff;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.whole section .conter div input {
  width: 100%;
  height: auto;
  background: none;
  border: none;
  outline: none;
}
.whole section .photo {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.whole section .photo span {
  -webkit-box-flex: 1;
  margin-left: 10px;
}
.whole section .photo span img {
  width: 7.5rem;
  height: auto;
  background: none;
  border: 1px solid #c0c0c0;
}
