@import url("reset.css");
html {
  font-size: 62.5%;
}
.whole {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.whole header {
  width: 100%;
  height: 40px;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.whole header .p1 {
  width: 40px;
  height: 40px;
  background: none;
  text-align: center;
  display: inline-block;
  line-height: 51px;
}
.whole header .p1 img {
  width: 1.7rem;
  height: 1.8rem;
  background: #f7f7f7;
}
.whole header .p2 {
  width: 40px;
  height: 40px;
  background: none;
  text-align: center;
  display: inline-block;
}
.whole header h1 {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 40px;
}
.whole section {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  -webkit-box-flex: 1;
}
.whole section::-webkit-scrollbar {
  width: 0;
}
.whole section .shop {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #ccc;
}
.whole section .shop .shop_left {
  margin-top: 10px;
  width: 100px;
  height: auto;
  background: none;
  text-align: center;
}
.whole section .shop .shop_left img {
  width: 5.5rem;
  height: auto;
  background: none;
}
.whole section .shop .shop_right {
  -webkit-box-flex: 1;
  width: 100%;
  height: auto;
  background: none;
}
.whole section .shop .shop_right h1 {
  margin-top: 15px;
  padding-left: 10px;
}
.whole section .shop .shop_right img {
  width: 4.5rem;
  height: auto;
  background: none;
  margin-left: 5px;
  margin-bottom: -3px;
}
.whole section .shop .shop_right .hoor {
  width: 15px;
  height: 15px;
  background: none;
  display: inline-block;
  float: right;
  margin-right: 13px;
  margin-top: 3px;
  transform: rotate(45deg);
  border: 2px solid #C0C0C0;
  border-left: none;
  border-bottom: none;
}
.whole section .shop .shop_right p {
  margin-top: 20px;
  padding-left: 10px;
}
.whole section .shop .shop_right .xian {
  border-left: 1px solid #CCCCCC;
}
.whole section .work {
  width: 100%;
  height: auto;
  background: #ffffff;
}
.whole section .work h1 {
  color: #ff7814;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.whole section .follower {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #ccc;
}
.whole section .follower .foll_left {
  width: 50%;
  height: auto;
  background: #ffffff;
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
  border-right: 2px solid #f7f7f7;
}
.whole section .follower .foll_left span {
  float: left;
}
.whole section .follower .foll_left span img {
  width: 21px;
  height: auto;
  background: none;
  margin-right: 12px;
}
.whole section .follower .foll_left p {
  line-height: 20px;
  margin-top: -8px;
}
.whole section .follower .foll_right {
  -webkit-box-flex: 1;
  width: 50%;
  height: auto;
  background: #ffffff;
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
}
.whole section .follower .foll_right span {
  float: left;
}
.whole section .follower .foll_right span img {
  width: 21px;
  height: auto;
  background: none;
  margin-right: 12px;
}
.whole section .follower .foll_right p {
  line-height: 20px;
  margin-top: -8px;
}
.whole section .news {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 8px;
  border-top: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.whole section .news span img {
  width: auto;
  height: 1.3rem;
  background: none;
  margin-right: 5px;
  margin-bottom: -4px;
}
.whole section .news .three {
  width: 12px;
  height: 12px;
  background: none;
  display: inline-block;
  float: right;
  margin-top: -14px;
  transform: rotate(45deg);
  border: 1px solid silver;
  border-bottom: none;
  border-left: none;
}
.whole section .logistics {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}
.whole section .logistics span {
  float: left;
}
.whole section .logistics span img {
  width: 4rem;
  height: auto;
  background: none;
  margin-right: 4px;
}
.whole section .logistics p {
  float: left;
  line-height: 25px;
}
.whole section .logistics p span {
  color: #ccc;
}
.whole section .logistics .time {
  float: right;
  color: #ccc;
}
.whole footer {
  width: 100%;
  height: 53px;
  background: none;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.whole footer dl {
  -webkit-box-flex: 1;
  text-align: center;
}
.whole footer dl dt {
  margin-top: 3px;
}
.whole footer dl dt img {
  width: auto;
  height: 2.2rem;
  background: none;
}
.whole footer dl .dd img {
  width: auto;
  height: 3.8rem;
  background: none;
}
